<div class="postcontainer">
	<div class="post">
		<div class="title">
			<ul class="titletable">
				<li class="tablecell">
					<a class="title" href="/">
						<h class="titletext">Nick's Blog</h>
					</a>
				</li>
				<li class="tablecell" style="text-align: center;">
					<div class="titlelink">
						<a href="https://github.com/nchalkley2">
						<img style="width: 32px;height: 32px;margin-top:4px;" src="/img/github.svg">
						</a>
						<a href="/resume.pdf">
						<img style="width: 32px;height: 32px;margin-top:6px;" src="/img/cv.svg">
						</a>
					</div>
				</li>
			</ul>
		</div>
		<hr style="margin-bottom:0; margin-top:0; height: 8px">
	</div>
</div>
